@charset "utf-8";
*{
    box-sizing: border-box;
}
%full{
    width: 100%;
    height: 100%;
}
@mixin pos($p:absolute){
    position: $p;
}
@mixin clearfix{
    zoom: 1;
    &:after{
      display: block;
      clear: both;
      content: '';
    }
}
html,body,.box{
   @extend %full; 
   display: flex;
   -webkit-flex-direction: column;
}
header{
    width: 100%;
    height: 3.5rem;
    background: white;
    @include pos(relative);
    text-align: center;
    line-height: 3.5rem;
//  border: 1px solid;
    .left{
        display: block;
        width: 1rem;
        height: 1.5rem;
        background: url(../img/pro_06.jpg);
        background-size:100% 100%;
        @include pos();
        left: 2rem;
        top: 1rem;
    }
    label{
        font-size: 1.5rem;
        font-weight: 550;
    }
}
.date{
    width: 100%;
    height: 5rem;
    overflow: hidden;
    ul{
        width: 200%;
        height: 100%;
        background: #2D3C4B;
        display: flex;
        li{
            -webkit-flex-grow: 1;
            height: 100%;
            text-align: center;
            padding-top: 1rem;
            line-height: 1.5rem;
            p{
                color: white;
            }
        }
    }
}
.shop{
    width: 100%;
    height: 6rem;
    ul{
        width: 100%;
        height: 100%;
        @include clearfix;
        li{
            float: left;
            &:nth-child(1){
                width: 6rem;
//              border: 1px solid;
                height: 100%;
                text-align: right;
                padding-top: 0.7rem;
                img{
                    width: 4.5rem;
                    height: 4.5rem;
                }
            }
            &:nth-child(2){
                width: 16.5rem;
                height: 100%;
                padding-left: 1rem;
                padding-top: 0.5rem;
                 p:nth-child(1){
//                  border: 1px solid;
                    @include clearfix;
                    img{
//                      border: 1px solid;
                        float: left;
                        margin-top: -0.2rem;
                    }
                    span{
                        display: inline-block;
//                      border: 1px solid;
                        font-size: 1rem;
                        height: 1.8rem;
                        line-height: 1.8rem;
                        padding-left: 0.2rem;
                    }
                }
                p:nth-child(2){
                    @include clearfix;
                    padding-left: 2rem;
                    span{
                        float: left;    
                        margin-left: -0.4rem;
                        color: #FFC341;
                        &:nth-child(6){
                            margin-left: 0;
                            margin-top: 0;
                            font-weight: 550;
                        }
                    }
                }
                p:nth-child(3){
                    color: #9B9B9B;
                    margin-top: 0.5rem;
                }
            }
            &:nth-child(3){
                width: 4rem;
                height: 100%;
//              border: 1px solid;
                padding-top: 3.8rem;
                color: #9B9B9B;
                margin-left: 3rem;
            }
        }
    }
}
.guide{
    width: 100%;
    height: 2rem;
    background: #FFFAE6;
    p{
        text-align: center;
        line-height: 2rem;
        font-size: 1.2rem;
        color: #FFA790;
    }
}
.content{
    width: 100%;
    -webkit-flex-grow: 1;
    overflow: auto;
    ul{
        width: 100%;
        li{
            width: 100%;
            height: 4rem;
            border-bottom:1px solid #FBFBFB ;
            @include clearfix;
            p{
                float: left;
//              border: 1px solid;
                height: 100%;
                width: 33.3%;
                font-size: 1.2rem;
                color: #6C6C6C;
                line-height: 4rem;
                &:nth-child(1){
                    padding-left: 2rem;
                }
                &:nth-child(2){
                    color: #FA5A4B;
                    text-align: center;
                }
                &:nth-child(3){
                    text-align: right;
                    padding-right: 2rem;
                    input{
                        width: 5rem;
                        height: 2.3rem;
                        background: #FA5A4B;
                        border-radius: 0.5rem;
                        color: white;
                        outline: none;
                        border: none;
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
}
