@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "微软雅黑"; }

header {
  width: 1000px;
  margin: 3% auto;
  zoom: 1; }
  header:after {
    display: block;
    clear: both;
    content: ''; }
  header div {
    float: left; }
  header ul {
    float: left;
    width: 600px;
    margin-left: 10%; }
    header ul li {
      float: left;
      line-height: 70px; }
      header ul li a {
        text-align: center;
        display: inline-block;
        padding: 0 10px;
        height: 100%;
        width: 100%;
        font-size: 16px;
        color: #333333; }
  header p {
    float: right;
    margin: -100px 60px 0 0; }
    header p a:nth-of-type(2) {
      color: #551A8B; }

.on {
  color: #FF8A00; }

.banner {
  width: 100%;
  margin-top: -3%;
  overflow: hidden; }
  .banner ul {
    width: 400%; }
    .banner ul li {
      float: left;
      width: 25%; }
      .banner ul li img {
        width: 100%; }

.main-jieshao {
  width: 1000px;
  height: 560px;
  margin: 0 200px; }
  .main-jieshao header {
    padding-top: 31px;
    padding-bottom: 35px;
    color: #ff8a00;
    font-size: 30px;
    font-weight: bold;
    text-align: center; }
  .main-jieshao .content {
    width: 100%; }
    .main-jieshao .content .left {
      width: 114px;
      height: 430px;
      float: left; }
      .main-jieshao .content .left ul {
        width: 100%; }
        .main-jieshao .content .left ul li {
          text-align: center;
          margin-bottom: 10px; }
    .main-jieshao .content .center {
      width: 450px;
      height: 430px;
      float: left; }
      .main-jieshao .content .center p {
        padding-left: 14px;
        font-size: 16px;
        line-height: 37px; }
    .main-jieshao .content .right {
      width: 430px;
      height: 430px;
      float: left; }
      .main-jieshao .content .right img {
        width: 430px;
        height: 430px; }

.main-zhineng {
  width: 1349px;
  height: 470px;
  padding: 0 150px 0 150px;
  position: relative;
  background-color: #f8f8f8; }
  .main-zhineng header {
    padding-top: 31px;
    padding-bottom: 35px;
    color: #ff8a00;
    font-size: 30px;
    font-weight: bold;
    text-align: center; }
  .main-zhineng .gengduo {
    position: absolute;
    top: 68px;
    right: 155px; }
    .main-zhineng .gengduo a {
      color: black; }
  .main-zhineng > ul {
    width: 100%; }
    .main-zhineng > ul li {
      float: left;
      text-align: center;
      margin: 0 30px;
      color: #2d2d2d; }
      .main-zhineng > ul li img {
        margin-bottom: 50px; }

.main-guanli {
  width: 1000px;
  margin: 0 150px 50px 180px; }
  .main-guanli header {
    padding-top: 31px;
    padding-bottom: 35px;
    color: #ff8a00;
    font-size: 30px;
    font-weight: bold;
    text-align: center; }
  .main-guanli .left {
    margin-right: 10px;
    width: 480px;
    float: left; }
    .main-guanli .left img {
      width: 100%; }
    .main-guanli .left > :nth-child(2) {
      text-align: center;
      margin-top: 30px;
      margin-bottom: 25px;
      color: #484848; }
    .main-guanli .left > :nth-child(3) {
      line-height: 30px; }

.main-dianxing {
  margin-top: 50px;
  width: 1349px;
  height: 540px;
  background-color: #f8f8f8;
  padding: 0 150px 0 150px;
  position: relative; }
  .main-dianxing header {
    padding-top: 31px;
    padding-bottom: 35px;
    color: #ff8a00;
    font-size: 30px;
    font-weight: bold;
    text-align: center; }
  .main-dianxing .gengduo {
    position: absolute;
    top: 68px;
    right: 155px; }
    .main-dianxing .gengduo a {
      color: black; }
  .main-dianxing ul {
    width: 100%; }
    .main-dianxing ul li {
      width: 175px;
      float: left;
      margin-right: 98px; }
      .main-dianxing ul li > :nth-child(2) {
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;
        color: #404040;
        font-size: 18px; }
      .main-dianxing ul li > :nth-child(3) {
        line-height: 25px; }
    .main-dianxing ul > :nth-child(4) {
      margin-right: 0; }

.main-xinwen {
  width: 1349px;
  height: 540px;
  background-color: transparent !important;
  padding: 0 150px 0 150px;
  position: relative; }
  .main-xinwen header {
    padding-top: 31px;
    padding-bottom: 35px;
    color: #ff8a00;
    font-size: 30px;
    font-weight: bold;
    text-align: center; }
  .main-xinwen .gengduo {
    position: absolute;
    top: 68px;
    right: 155px; }
    .main-xinwen .gengduo a {
      color: black; }
  .main-xinwen ul {
    width: 100%; }
    .main-xinwen ul li {
      width: 175px;
      float: left;
      margin-right: 98px; }
      .main-xinwen ul li > :nth-child(2) {
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;
        color: #404040;
        font-size: 18px; }
      .main-xinwen ul li > :nth-child(3) {
        line-height: 25px; }
    .main-xinwen ul > :nth-child(4) {
      margin-right: 0; }

footer {
  height: 165px;
  width: 100%;
  background: #5B5B5B;
  padding-top: 20px; }
  footer > div {
    width: 1050px;
    margin: 0 auto;
    height: 80%; }
    footer > div > ul {
      border-right: 1px solid #868686;
      float: left;
      height: 100%;
      padding-left: 60px;
      padding-right: 60px; }
      footer > div > ul li {
        margin-top: 10px;
        width: 80px;
        text-align: center; }
        footer > div > ul li a {
          color: #fff; }
        footer > div > ul li a:hover {
          color: #FF8A00; }
        footer > div > ul li:nth-of-type(1) {
          font-weight: 600;
          margin: 10px 0 15px 0; }
    footer > div > div {
      width: 445px;
      float: right; }
      footer > div > div > ul:nth-of-type(1) {
        float: left;
        color: #fff;
        padding-left: 80px; }
        footer > div > div > ul:nth-of-type(1) li span {
          display: inline-block;
          width: 26px;
          height: 22px;
          background: url("../img/xin.png") no-repeat;
          background-size: 100% 100%;
          margin-top: 5px; }
        footer > div > div > ul:nth-of-type(1) li:nth-of-type(1) {
          font-weight: 600;
          margin: 0 0 5px 28px; }
        footer > div > div > ul:nth-of-type(1) li:nth-of-type(2) {
          margin: 0 0 0 20px; }
      footer > div > div > ul:nth-of-type(2) {
        float: left;
        padding-left: 80px; }
        footer > div > div > ul:nth-of-type(2) li {
          width: 145px;
          text-align: center;
          margin-top: 15px; }
          footer > div > div > ul:nth-of-type(2) li:nth-of-type(1) {
            font-size: 20px;
            font-weight: 600;
            color: #FF8A00;
            margin-top: 10px; }
          footer > div > div > ul:nth-of-type(2) li:nth-of-type(2), footer > div > div > ul:nth-of-type(2) li:nth-of-type(3) {
            font-size: 16px;
            color: #fff; }

.copyright {
  width: 100%;
  height: 47px;
  background: #333333;
  color: #fff;
  line-height: 47px;
  text-align: center; }
  .copyright p {
    float: left;
    width: 100%;
    position: relative; }
    .copyright p span {
      display: inline-block;
      position: absolute;
      top: 14px;
      width: 21px;
      height: 21px;
      background: url("../img/baidu.png") no-repeat; }

.fixed {
  position: fixed;
  right: 70px;
  top: 50%;
  width: 93px;
  height: 62px;
  background: #e60012;
  text-align: center;
  border-radius: 10px;
  z-index: 9; }
  .fixed a {
    width: 100%;
    height: 100%; }
    .fixed a img {
      width: 28px;
      height: 16px;
      margin-top: 10px; }
    .fixed a p {
      font-size: 17px;
      color: white; }

/*# sourceMappingURL=shouye.css.map */
