@charset "utf-8";
*{
    box-sizing: border-box;  
    font-family: "微软雅黑";  
}
%full{
    width: 100%;
    height: 100%;
}
@mixin pos($p:absolute){
    position: $p;
}
@mixin clearfix{
    zoom: 1;
    &:after{
      display: block;
      clear: both;
      content: '';
    }
}
html,body,.box{
    @extend %full;
}
.head{
    width: 100%;
    height: 4.5rem;
    header{
        z-index: 999;
        @include pos(fixed);
        left: 0;
        top: 0;
        width: 100%;
    //  border: 1px solid;
        height: 4.5rem;
        background: rgba(255,255,255,0.6);
        padding-left: 1.3rem;
        padding-top: 0.5rem;
        padding-right: 4.5rem;
        .left{
            @include pos();
            left: 2.4rem;
            top: 1.2rem;
            border-right: 1px solid #ececec;
            padding-right: 0.5rem;
            span{
                font-size: 1.4rem;
                color: black;
                &:nth-child(2){
                    margin-left: 0.2rem;
                }
            }
        }
        input{
            width: 100%;
            height: 3rem;
            border: 1px solid #ececec;
            padding-left: 8.5rem;
            outline: none;
        }
        .sou{
            font-size: 1.4rem;
            color: #bfc7cf;
            @include pos();
            left: 8rem;
            top: 1.4rem;
        }
        .right{
            @include pos();
            right: 1.3rem;
            top: 1.1rem;
            span{
                font-size: 2.1rem;
                color: #6b6c71;
            }
        }
    }
}

.footer{
    width: 100%;
    height: 5rem;
    footer{
        z-index: 999;
        @include pos(fixed);
        left: 0;
        bottom: 0;
        width: 100%;
        height: 5rem;
        background: white;
        border-top: 1px solid #efeff3;
        padding-top: .5rem;
        ul{
            width: 100%;
            display: flex;
            -webkit-justify-content: space-around;
            li{
                width: 25%;
                text-align: center;
                a{
                    display: block;
                    width: 4.5rem;
                    height: 2.8rem;
                    margin: 0 auto;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                span{
                    font-size: 1rem;
                    
                }
                &.li1{
                    span{
                      color: #009e00;  
                    }
                }
            }
        }
    }
}



.content{
    overflow: hidden;
    width: 100%;
    height: 295%;
    .banner{
        width: 100%;
        .swiper-container{
            width: 100%;
            .swiper-wrapper{
                width: 100%;
                .swiper-slide{
                    width: 100%;
                    img{
                        width: 100%;
                    }
                }
            }
        }
    }
    
    
    .content_list{
        width: 100%;
        padding: 0 1rem;
        .list{
            width: 100%;
            ul{
                width: 100%;
                @include clearfix;
                padding-bottom: 2rem;
                li{
                    float: left;
                    width: 25%;
                    text-align: center;
                    margin-top: 2rem;
                    a{
                        font-size: 1rem;
                        color: #232c30;
                        font-weight: 600;
                    }
                }
            }
        }
        
        .car{
            width: 100%;
            ul{
                width: 100%;
                @include clearfix;
                li{
                    float: left;
                    text-align: center;
                    width: 12.5%;
                    a{
                        display: block;
                        width: 2.6rem;
                        height: 2.6rem;
                        margin: 0 auto;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                    span{
                        display: block;
                        font-size: 1rem;
                        color: #505b69;
                        margin-top: 0.3rem;
                    }
                }
            }
        }
        
        .look{
            width: 100%;
            height: 3.7rem;
            background: #21ae39;
            border: 1px solid #00a11a;
            margin-top: 2rem ;
            a{
                display: block;
                width: 100%;
                height: 100%;
                font-size: 1.5rem;
                color: white;
                text-align: center;
                line-height: 3.7rem;
            }
        }
        
        .deal{
            width: 100%;
            padding-top: 1rem;
            ul{
                width: 100%;
                @include clearfix;
                li{
                    float: left;
                    width: 60%;
                    height: 3.7rem;
                    border: 1px solid #5fc570;
                    a{
                        display: block;
                        width: 100%;
                        height: 100%;
                        font-size: 1.5rem;
                        color: #0da421;
                        text-align: center;
                        line-height: 3.7rem;
                    }
                    &:nth-child(2){
                        width: 37%;
                        height: 3.7rem;
                        border: 1px solid #5fc570;
                        margin-left: 0.7rem;
                        a{
                            display: block;
                            width: 100%;
                            height: 100%;
                            font-size: 1.5rem;
                            color: #0da421;
                            text-align: center;
                            line-height: 3.7rem;
                        }
                    }
                }
            }
        }  
    }
    
    
    .sort{
            width: 100%;
            border-top: 1rem solid #f6f6ff;
            border-bottom: 1rem solid #f6f6ff;
            padding-top: 0.5rem;
            margin-top: 2rem;
            ul{
                width: 100%;
                @include clearfix;
                li{
                    width: 50%;
                    float: left;
                    a{
                        display: block;
                        width: 100%;
                        img{
                            width: 100%;
                        }
                    }
                }
            }
        }
    .serve{
        width: 100%;
        padding: 1rem 0 ;
        ul{
            width: 100%;
            display: flex;
            -webkit-justify-content: space-around;
            li{
                text-align: center;
                a{
                    display: block;
                    width: 4.5rem;
                    height: 4.5rem;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                span{
                    display: block;
                    font-size: 1rem;
                    color: #3b4447;
                    margin-top: 0.5rem;
                }
            }
        }
    }
    
    .referral{
        width: 100%;
        padding: 1.5rem 1rem;
        border-top: 1rem solid #f6f6ff;
        border-bottom: 1rem solid #f6f6ff;
        p{
            font-size: 1.3rem;
            color: #101a1a;
        }
        ul{
            width: 100%;
            li{
                width: 100%;
                margin-top: 1rem;
                a{
                    display: block;
                    width: 100%;
                    @include clearfix;
                    span{
                        font-size: 1.3rem;
                        color: #101a1a;
                        &:nth-child(2){
                            float: right;
                            color: #a4aaaf;
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }
    .matter{
        width: 100%;
        section{
            padding: 0 1rem;
            width: 100%;
            height: 3.5rem;
            @include pos(relative);
            ul{
                width: 100%;
                height: 100%;
                display: flex;
                li{
                    width: 33.3%;
                    height: 100%;
                    text-align: center;
                    line-height: 3.5rem;
                    a{
                        font-size: 1.4rem;
                        color: #192223;
                    }
                }
                li:hover{
                    border-bottom: 1px solid #0da727;
                }
            }
            p{
                width: 33.3%;
                height: 2px;
                background: #0da727;
                @include pos();
                left: 1rem;
               top: 0;
            }
        }
        
        .matter_con{
            width: 300%;
            display: flex;
//          border: 1px solid;
            .good{
                padding: 0 1rem;
                width: 100%;
                ul{
                    width: 100%;
                    li{
                        width: 100%;
                        padding: 1.2rem 0;
                        border-bottom: 2px solid #f7f7f7;
                        a{
                            display: block;
                            width: 100%;
                            @include clearfix;
                            img{
                                width: 12rem;
                                height: 8.5rem;
                                float: left;
                                margin-right: 1rem;
                            }
//                          p{
                                
                            .p1{
                                    font-size: 1.3rem;
                                    color: #060b06;
                                    display: block;
                                }
                            .p2{
                                    font-size: 1.3rem;
                                    color: #848184;
                                    display: block;
                                    margin-top: 1rem;
                                }
                            .p3{
                                    line-height: 3rem;
                                    span:nth-child(1){
                                        font-size: 1.3rem;
                                        color: #f54c17;
                                    }
                                    span:nth-child(2){
                                        font-size: 1rem;
                                        color: #8f8d8f;
                                    }
                                    span:nth-child(3){
                                        font-size: 1rem;
                                        color: #8f8d8f;
                                        text-decoration: line-through;
                                    }
                                }
//                          }
                        }
                        &:last-child{
                            border: none;
                        }
                    }
                }
            }
        }
    }
    
    
    
    .check{
        width: 100%;
        padding: 1.5rem 0;
        p{
            border: 1px solid #f6f4f6;
            width: 17rem;
            height: 3.2rem;
            margin: 0 auto;
            border-radius: 0.5rem;
            overflow: hidden;
            a{
                display: block;
                width: 100%;
                height: 100%;
                text-align: center;
                line-height: 3.2rem;
                font-size: 1.5rem;
                color: #5b6878; 
            }
            a:hover{
                background: #f8501f;
                color: white;
            }
        }
    }
    
    
    
    
}
