@charset "utf-8";
*{
    box-sizing: border-box;  
    font-family: "微软雅黑";  
}
%full{
    width: 100%;
    height: 100%;
}
@mixin pos($p:absolute){
    position: $p;
}
@mixin clearfix{
    zoom: 1;
    &:after{
      display: block;
      clear: both;
      content: '';
    }
}
html,body,.box{
    @extend %full;
}
.head{
    width: 100%;
    height: 3.5rem;
    header{
        z-index: 999;
        @include pos(fixed);
        left: 0;
        top: 0;
        width: 100%;
        height: 3.5rem;
        background: #f7f7f7;
        text-align: center;
        padding-top: 1.2rem;
        .left{
            @include pos();
            top: 1rem;
            left: 1.2rem;
            span{
                font-size: 2rem;
                color: black;
            }
        }
        label{
            font-size: 1.2rem;
            color: black;
        }
    }
}
.content{
    width: 100%;
    height: 100%;
    .banner{
        width: 100%;
        img{
            width: 100%;
        }
    }
    
    
    .content_list{
        width: 100%;
        padding: 0 1rem;
        border-bottom: 1rem solid #f7f7f7;
        .list{
            width: 100%;
            padding-top: 1rem;
            ul{
                width: 100%;
                display: flex;
                -webkit-justify-content: space-between;
                li{
                    span{
                        font-size: 0.8rem;
                        color: #091009;
                        &:nth-child(1){
                            color: #2cb241;
                        }
                    }
                }
            }
        }
        .inp{
            width: 100%;
            padding-top: 1rem;
            input{
                width: 100%;
                height: 3.5rem;
                outline: none;
                border: 1px solid #e4e5e4;
                font-size: 1.1rem;
                padding-left: 0.5rem;
            }
        }
        .order{
            width: 100%;
            padding-top: 1rem;
            padding-bottom: 1rem;
            p{
                width: 100%;
                height: 3rem;
                background: #39b64a;
                border: 1px solid #19aa2c;
                a{
                    display: block;
                    width: 100%;
                    text-align: center;
                    line-height: 3rem;
                    color: white;
                    font-size: 1.2rem;
                }
            }
        }
    }
    
    .content_fenlei{
        width: 100%;
        padding: 0 1rem;
        border-bottom: 1rem solid #f7f7f7;
        h3{
            padding: 1rem 0 1rem 0;
            font-size: 1rem;
            color: #2a312a;
        }
        ul{
            width: 100%;
            li{
                width: 100%;
                margin-bottom: 0.5rem;
                img{
                    width: 100%;
                }
            }
        }
    }
    .content_flow{
        width: 100%;
        padding: 0 1rem 1rem;
        border-bottom: 1rem solid #f7f7f7;
        h3{
            width: 100%;
            font-size: 1rem;
            padding: 1rem 0 1rem 0;
            color: #2a312a;
            border-bottom: 1px solid #f2f2f2;
        }
        ul{
            width: 100%;       
            li{
                width: 100%;
                @include clearfix;
                padding: 0.5rem 0 0 0;
                img{
                    float: left;
                    width: 4rem;
                    height: 4rem;
                    margin-right: 0.5rem;
                }
                h4{
                    font-size: 1rem;
                    color: black;
                    margin-top: 0.5rem;
                }
                p{
                    font-size: 0.5rem;
                    font-size: #c7c6c7;
                    margin-top: 0.5rem;
                }
            }
        }
    }
    
    .content_footer{
        width: 100%;
        padding: 0 1rem;
        border-top: 1px solid #e3e4e3;
        .phone{
            width: 100%;
            input{
                width: 100%;
                height: 3rem;
                outline: none;
                border: 1px solid #e4e5e4;
                font-size: 1.1rem;
                padding-left: 0.5rem;
                margin-top: 0.5rem;
            }
            p{
                width: 100%;
                height: 3rem;
                background: #39b64a;
                border: 1px solid #17a92b;
                margin-top: 0.5rem;
                margin-bottom: 1rem;
                a{
                    display: block;
                    width: 100%;
                    height: 100%;
                    color: white;
                    font-size: 1.2rem;
                    text-align: center;
                    line-height: 3rem;
                }
            }
        }
    }
    
}
