.t-box{
    width: 1000px;
    margin: 0 auto;
    font-size: 16px;
    color: #838383;
    p{
        margin: 40px 0;
    }
    li{
        margin-bottom: 78px;
    }
}
.t-contactUs{
    width: 100%;
    height: 60px;
    line-height: 60px;
    color: #FFF;
    text-align: center;
    background: #a38c71;
    margin: 38px 0;
    font-size: 30px;
}
