@charset "UTF-8";
*{font-size: 16px;}

.origin{
  color: #ff8a00;
}

//banner
.fc-download-banner{
    width: 100%;
    img{
        width: 100%
    }
}
//banner结束
//内容
.fc-download-content{
    width: 1000px;
    margin: 35px auto 0;
    h2{
        font-size: 30px;
        color: #FF8A00;
        font-weight: normal;
    }
    //注册
    .fc-download-content-experienceAccount{
        margin-top: 21px;
        border-top: 1px solid #A70A0B;
        padding-bottom: 56px;
        padding-top: 30px;
        form{
            &>label{
                color: #333;
                margin-top: 10px;
            }
                .fc-four{
                    margin-left: 200px;
                }
                .fc-ten{
                    margin-left: 200px;
                }
            &>[type='text']{
                width: 300px;
                height: 30px;
                margin-top: 10px;
                font-size: 14px;
                margin-left: 18px;
                border: #ebebeb 1px solid;
                padding-left: 6px;
            }
            &>input::-webkit-input-placeholder{
                color: #333;
            }
            &>span{
                margin-top: 10px;
                color: #FF8A00;
                margin-left: 10px;
            }
            &>p{
                text-align: right;
                margin-right: 92px;
                font-size: 14px;
                margin-top: 10px;
                color: #898989;
            }
            &>textarea{
                width: 982px;
                height: 108px;
                border: #ebebeb 1px solid;
                font-size: 14px;
                padding-top: 10px;
                padding-left: 10px;
            }
            &>textarea::-webkit-input-placeholder{
                color: #333;
            }
            &>div{
                margin-top: 10px;
                span{
                    color: #777;
                }
                button{
                    width: 208px;
                    height: 46px;
                    float: right;
                    background: #383838;
                    color: #fff;
                    border-radius: 10px;
                    border: none;
                    font-size: 26px;
                    word-spacing: 14px;
                    text-align: center;
                }
                button:hover{
                    background: #FF8A00;
                }
            }
        }
    }
}
//内容结束
//说明开始
.fc-download-explain{
    background: #F8F8F8;
    ul{
        list-style: none;
        width: 1000px;
        margin: 20px auto;
        overflow: hidden;
        li{
            font-size: 14px;
            margin-top: 20px;
            line-height: 20px;
            color: #a1a1a1;
        }
    }
}
//说明结束
