<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>渠道合作</title>
	    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css"/>
	    <link rel="stylesheet" type="text/css" href="../css/reset.css"/>
	    <link rel="stylesheet" type="text/css" href="../css/header.css"/>
	    <link rel="stylesheet" type="text/css" href="../css/channel.css"/>
	</head>
	<body>
	    <!-- 头部开始-->
	    <div class="header">
	    	<div class="clearfix">
	    		<p><a href="#" class="on">中文 </a><a href="#"> / English</a></p>
	    	</div>
	    	<div class="clearfix">
		        <img src="../img/logo.jpg" alt=""/>
		        <ul class="clearfix">
			        <li><a href="home.html">首页</a></li>
			        <li><a href="introduce.html">集群通介绍</a></li>
			        <li><a href="capacity.html">智能终端</a></li>
			        <li><a href="shop.html">产品购买</a></li>
			        <li><a href="download.html">下载体验</a></li>
			        <li><a href="channel.html" class="origin">渠道合作</a></li>
			        <li><a href="help.html">问题帮助</a></li>
			    </ul>
	    	</div>
	        <div class="header-hr"></div>
	    </div>
	    <!--头部结束-->
		<!--banner-->
		<div class="j-banner">
			<img src="../img/channel-banner.png"/>
		</div>
		<!--end banner-->
		
		<!--渠道招募-->
		<div class="j-channel">
			<div class="j-channel-h">
				集群通软件服务
			</div>
			<div class="j-channel-p">
				<p>渠道合作商火热招募中，欢迎您的加盟！</p>
				<p>集群通产品拥有广泛的行业应用市场，适用于各行各业，商业模式清晰</p>
				<p>集群通产品拥有更丰厚的销售政策支持和收益分成。</p>
				<p>集群通渠道合作模式简单清晰，是不可多得的渠道、代理、系统集成商合作的机遇！</p>
				<p>请填写您的渠道信息，我们会主动与您联系，共同携手发展，创造更多利润收益空间！您也可以直接拨打400-067-8026电话直接与我们联系。</p>
			</div>
			
			<form>
				<div>
					<label for="#channelTxt">姓名：</label><input class="text" type="text" name="" id="channelTxt" value="" />
					<span class="j-channel-xing">*</span>
					<label class="lab" for="#channelT">公司或企业名称：</label><input class="text" type="text" name="channelT" id="channelT" value="" />
				</div>
				<div>
					<label for="#channelTx">联系方式：</label><input class="text" type="text" name="channelT" id="channelTx" value="" />
				</div>
				<div>
					您期望的合作模式：
					<input class="radio" type="radio" name="hezuo" id="j-hezuo1" value="" /><label class="label" for="j-hezuo1"><span></span></label>
					渠道代理
					<input class="radio" type="radio" name="hezuo" id="j-hezuo2" value="" /><label class="label" for="j-hezuo2"><span></span></label>
					系统集成
					<input class="radio" type="radio" name="hezuo" id="j-hezuo3" value="" /><label class="label" for="j-hezuo3"><span></span></label>
					其他合作
					<span class="j-channel-xing">*</span>
				</div>
				<div>
					您期望发展的省份：
					<select>
						<option value="0">-----请选择-----</option>
						<option value="1">河北</option>
						<option value="2">河南</option>
						<option value="3">山西</option>
						<option value="4">山东</option>
						<option value="5">辽宁</option>
					</select>
				</div>
				<div>
					希望联系您的最佳时间：
					
					<input class="radio" type="radio" name="hezuo2" id="j-hezuo4" value="" /><label class="label" for="j-hezuo4"><span></span></label>
					周一至周五工作时间
					<input class="radio" type="radio" name="hezuo2" id="j-hezuo5" value="" /><label class="label" for="j-hezuo5"><span></span></label>
					随时
					<span class="j-channel-xing">*</span>
				</div>
				<div class="clearfix">
					<input class="sub" type="submit" value="提交"/>
					<p><span class="j-channel-xing">*</span>星号为必填项</p>
				</div>
			</form>
			
		</div>
		<!--end 渠道招募-->
		
		
		<!--典型应用-->
		<div class="j-channel-model-box">
			<div class="j-channel-model">
				<div class="j-channel-model-h clearfix">
					<span>更多>></span>典型应用
				</div>
				<div class="j-liu clearfix">
					<div>
						<div class="j-liu1"><div><div></div></div></div>
						<p class="j-liu-p">京沪铁路是中国</p>
						<p>条从北京通往上海的铁路于北京年建成，全长共计1463千米。原分为北中南三段北段为京哈铁路的...</p>
					</div>
					<div>
						<div class="j-liu1"><div><div></div></div></div>
						<p class="j-liu-p">京沪铁路是中国</p>
						<p>条从北京通往上海的铁路于北京年建成，全长共计1463千米。原分为北中南三段北段为京哈铁路的...</p>
					</div>
					<div>
						<div class="j-liu1"><div><div></div></div></div>
						<p class="j-liu-p">京沪铁路是中国</p>
						<p>条从北京通往上海的铁路于北京年建成，全长共计1463千米。原分为北中南三段北段为京哈铁路的...</p>
					</div>
					<div>
						<div class="j-liu1"><div><div></div></div></div>
						<p class="j-liu-p">京沪铁路是中国</p>
						<p>条从北京通往上海的铁路于北京年建成，全长共计1463千米。原分为北中南三段北段为京哈铁路的...</p>
					</div>
				</div>
			</div>
		</div>
		<!--end 典型应用-->
		
		<!--合作伙伴-->
		<div class="j-channel-partner">
			<div class="j-channel-parter-h clearfix">
				合作伙伴
			</div>
			<ul class="j-channel-partner-con clearfix">
				<li><img src="../img/channel-partner1.png" alt="" /></li>
				<li><img src="../img/channel-partner2.png" alt="" /></li>
				<li><img src="../img/channel-partner3.png" alt="" /></li>
				<li><img src="../img/channel-partner4.png" alt="" /></li>
				<li><img src="../img/channel-partner5.png" alt="" /></li>
				<li><img src="../img/channel-partner6.png" alt="" /></li>
				<li><img src="../img/channel-partner7.png" alt="" /></li>
				<li><img src="../img/channel-partner8.png" alt="" /></li>
				<li><img src="../img/channel-partner9.png" alt="" /></li>
				<li><img src="../img/channel-partner10.png" alt="" /></li>
				<li><img src="../img/channel-partner11.png" alt="" /></li>
				<li><img src="../img/channel-partner12.png" alt="" /></li>
				<li><img src="../img/channel-partner13.png" alt="" /></li>
				<li><img src="../img/channel-partner14.png" alt="" /></li>
				<li><img src="../img/channel-partner15.png" alt="" /></li>
				<li><img src="../img/channel-partner16.png" alt="" /></li>
			</ul>
			
		</div>
		<!--end 合作伙伴-->
		
	    <!--尾部开始-->
	    <div class="h-di1">
	        <div class="footer clearfix">
		        <ul class="h-ul1">
		            <li><a>关于我们</a></li>
		            <li><a href="news.html">关于捷思锐</a></li>
		            <li><a href="contactUs.html">联系我们</a></li>
		        </ul>
		        <ul class="h-ul2">
		            <li><a>服务支持</a></li>
		            <li><a href="threeLevel.html">常见问题</a></li>
		            <li><a href="termOfService.html">服务条款</a></li>
		        </ul>
		        <ul class="h-ul3">
		            <li><a>快速导航</a></li>
		            <li><a href="map.html">网站地图</a></li>
		            <li><a>申请体验</a></li>
		        </ul>
		        <ul class="h-ul4">
		            <li><a>关注我们</a></li>
		            <li><img src="../img/rwm.jpg"/></li>
		            <li><img src="../img/footer-1.jpg"/>捷思如集群通</li>
		        </ul>
		        <ul class="h-ul5">
		            <li class="origin s28">400-067-8026</li>
		            <li>周一至周五</li>
		            <li>9:00-18:00</li>
		        </ul>
		    </div>
	    </div>
	    <div class="h-di2">
	        <p>
	            &copy;捷思锐科技版权所有 京ICP备09032422号&nbsp;技术支持:北京亮田科技
	            <img src="../img/footer-2.jpg"/>
	        </p>
	    </div>
	    <!--尾部结束-->
	    
	    
	    <!--返回顶部-->
	    <div id="j-toTop">
	    	<img src="../img/top.png"/><br />
	    	返回顶部
	    </div>
	    <!--返回顶部-->
	</body>
</html>
<script src="../js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
	$(function(){
        //当滚动条的位置处于距顶部100像素以下时，跳转链接出现，否则消失
        $(function () {
            $(window).scroll(function(){
                if ($(window).scrollTop()>200){
                    $("#j-toTop").fadeIn(1500);
                }
                else
                {
                    $("#j-toTop").fadeOut(1500);
                }
            });
            //当点击跳转链接后，回到页面顶部位置
            $("#j-toTop").click(function(){
                //$('body,html').animate({scrollTop:0},1000);
	        	if ($('html').scrollTop()) {
	                $('html').animate({ scrollTop: 0 }, 1000);
	                return false;
	            }
	            $('body').animate({ scrollTop: 0 }, 1000);
	                 return false;            
	           	});       
	    });    
	});
</script>