<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>联系我们</title>
		<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="../css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../css/header.css"/>
		<link rel="stylesheet" type="text/css" href="../css/contactUs.css"/>
	</head>
	<body>
		<!-- 头部开始-->
		<div class="header">
	    	<div class="clearfix">
	    		<p><a href="#" class="on">中文 </a><a href="#"> / English</a></p>
	    	</div>
	    	<div class="clearfix">
		        <img src="../img/logo.jpg" alt=""/>
		        <ul class="clearfix">
			        <li><a href="home.html">首页</a></li>
			        <li><a href="introduce.html">集群通介绍</a></li>
			        <li><a href="capacity.html">智能终端</a></li>
			        <li><a href="shop.html">产品购买</a></li>
			        <li><a href="download.html">下载体验</a></li>
			        <li><a href="channel.html">渠道合作</a></li>
			        <li><a href="help.html">问题帮助</a></li>
			    </ul>
	    	</div>
	        <div class="header-hr"></div>
	    </div>
		<!--头部结束-->
	    <!--content-->
	    <div class="t-box">
	    	<div class="t-contactUs">
	    		联系我们
	    	</div>
	    	<p>如果您要与捷思锐联系，则请您拨打电话联系相应的办事处或发送电子邮件到sales@zed-3.com.cn</p>
	    	<p>公司总部及分支机构</p>
	    	<ul>
	    		<li>
	    			<div>捷思锐科技（北京）有限公司</div>
	    			<div>地址：北京市海淀区海淀南路21号中关村知识产权大厦B座六层</div>
	    			<div>邮编：100080</div>
	    			<div>电话：010-6269-1129</div>
	    			<div>传真：010-6269-1279</div>
	    		</li>
	    		<li>
	    			<div>深圳办事处</div>
	    			<div>地址：广东省深圳市南山区世纪假日广场A座瑞思中心3312室</div>
	    			<div>电话：0755-86621592</div>
	    		</li>
	    		<li>
	    			<div>武汉办事处</div>
	    			<div>地址： 武汉市江岸区江汉北路8-3号6层D室</div>
	    			<div>电话：027-85823633</div>
	    		</li>
	    	</ul>
	    	
	    </div>
	    <!--尾部开始-->
		    <div class="h-di1">
	        <div class="footer clearfix">
		        <ul class="h-ul1">
		            <li><a>关于我们</a></li>
		            <li><a href="news.html">关于捷思锐</a></li>
		            <li><a href="contactUs.html" class="origin">联系我们</a></li>
		        </ul>
		        <ul class="h-ul2">
		            <li><a>服务支持</a></li>
		            <li><a href="threeLevel.html">常见问题</a></li>
		            <li><a href="termOfService.html">服务条款</a></li>
		        </ul>
		        <ul class="h-ul3">
		            <li><a>快速导航</a></li>
		            <li><a href="map.html">网站地图</a></li>
		            <li><a>申请体验</a></li>
		        </ul>
		        <ul class="h-ul4">
		            <li><a>关注我们</a></li>
		            <li><img src="../img/rwm.jpg"/></li>
		            <li><img src="../img/footer-1.jpg"/>捷思如集群通</li>
		        </ul>
		        <ul class="h-ul5">
		            <li class="origin s28">400-067-8026</li>
		            <li>周一至周五</li>
		            <li>9:00-18:00</li>
		        </ul>
		    </div>
	    </div>
	    <div class="h-di2">
	        <p>
	            &copy;捷思锐科技版权所有 京ICP备09032422号&nbsp;技术支持:北京亮田科技
	            <img src="../img/footer-2.jpg"/>
	        </p>
	    </div>
		<!--尾部结束-->
	<!--返回顶部-->
	    <div id="j-toTop">
	    	<img src="../img/top.png"/><br />
	    	返回顶部
	    </div>
	    <!--返回顶部-->
	</body>
	
<script src="../js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/jquery-3.2.0.min.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript">
	$(function(){
        //当滚动条的位置处于距顶部100像素以下时，跳转链接出现，否则消失
        $(function () {
            $(window).scroll(function(){
                if ($(window).scrollTop()>200){
                    $("#j-toTop").fadeIn(1500);
                }
                else
                {
                    $("#j-toTop").fadeOut(1500);
                }
            });
            //当点击跳转链接后，回到页面顶部位置
            $("#j-toTop").click(function(){
                //$('body,html').animate({scrollTop:0},1000);
	        	if ($('html').scrollTop()) {
	                $('html').animate({ scrollTop: 0 }, 1000);
	                return false;
	            }
	            $('body').animate({ scrollTop: 0 }, 1000);
	                 return false;            
	           	});       
	    });    
	});
</script>
</html>
