<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>CHC</title>
		<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="../css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../css/font-awesome.min.css"/>
	    <link rel="stylesheet" type="text/css" href="../css/header.css"/>
		<link rel="stylesheet" type="text/css" href="../css/home.css"/>
		
	</head>
	<body>
		
	    <!-- 头部开始-->
	    <div class="header">
	    	<div class="clearfix">
	    		<p><a href="#" class="on">中文 </a><a href="#"> / English</a></p>
	    	</div>
	    	<div class="clearfix">
		        <img src="../img/logo.jpg" alt=""/>
		        <ul class="clearfix">
			        <li><a href="home.html" class="origin">首页</a></li>
			        <li><a href="introduce.html">集群通介绍</a></li>
			        <li><a href="capacity.html">智能终端</a></li>
			        <li><a href="shop.html">产品购买</a></li>
			        <li><a href="download.html">下载体验</a></li>
			        <li><a href="channel.html">渠道合作</a></li>
			        <li><a href="help.html">问题帮助</a></li>
			    </ul>
	    	</div>
	        <div class="header-hr"></div>
	    </div>
	    <!--头部结束-->
	<!--****banner****CHC****-->
		<div class="c-banner">
			<ul class="c-banimg clearfix">
				<li><a href="#"><img src="../img/home-banner.png"/></a></li>
				<li><a href="#"><img src="../img/home-banner.png"/></a></li>
				<li><a href="#"><img src="../img/home-banner.png"/></a></li>
				<li><a href="#"><img src="../img/home-banner.png"/></a></li>
			</ul>
			<div class="c-banleft"><span><i class="fa fa-2x fa-angle-left"></i></span></div>
			<div class="c-banright"><span><i class="fa fa-2x fa-angle-right"></i></span></div>
			<p class="c-banicon clearfix"><span class="c-banse c-ie81"></span><span class='c-ie82'></span><span class='c-ie83'></span></p>
		</div>
	<!--****介绍****CHC****-->
		<div class="c-introduce">
			<div class="c-indbox">
				<p class="c-ind-title">集群通介绍</p>
				<div class="c-ind-con clearfix">
					<ul class="c-ind-icon">
						<li><a href="#"><img src="../img/home-app-user2.png"/><p>集群对讲</p></a></li>
						<li><a href="#"><img src="../img/home-app-user3.png"/><p>会议语音</p></a></li>
						<li><a href="#"><img src="../img/home-app3.png"/><p>位置上报</p></a></li>
						<li><a href="#"><img src="../img/home-app2.png" /><p>音.视频通话</p></a></li>
					</ul>
					<div class="c-ind-xian"><img src="../img/home-ind-bor_03.png"/></div>
					<div class="c-ind-font">
						<p>2.5G/3G/4G或WiFi网络环境下均可使用，不受地域限制实时对讲最大支持300人/组
							用户可归属于多个对讲组，工作中可自由切换组对讲组可划分优先级，级内成员亦可配置优先级
							组内，高优先级的用户可以夺取低优先级用户正在占用的话权组间，最高优先级（级别为0）组成员发言时，
							组内非当前组成员可被强制切入该组收听发言可外接专用无线、有线手咪——“捷咪”
							2.5G/3G/4G或WiFi网络环境下均可使用，不受地域限制
							实时对讲最大支持300人/组
							用户可归属于多个对讲组，工作中可自由切换组
							对讲组可划分优先级，级内成员亦可配置优先级
							组内，高优先级的用户可以夺取低优先级用户正在占用的话权
							组间，最高优先级（级别为0）组成员发言时，组内非当前组成员可被强制切入该组收听发言
							可外接专用无线、有线手咪
						</p>
					</div>
					<div class="c-ind-img">
						<img src="../img/home-ind_03.png"/>
					</div>
				</div>
			</div>
		</div>

	<!--****智能终端****CHC****-->
		<div class="c-inTerbox">
			<div class="c-inTer" id="c-zhineng">
			</div>
		</div>
	
	<!--****管理平台****CHC****-->
		<div class="c-tubebox">
			<div class="c-tube">
				<p class="c-tube-title">管理平台</p>
				<ul class="c-tibe-list clearfix">
					<li class="c-tibe-li1">
						<a href="#">
							<img src="../img/home-ditu_06.png"/>
							<p class="c-tibe-p1">可将终端的GPS位置信息及状态</p>
   							<p class="c-tibe-p2"> 实时回传到调度台能实现对终端的24小时行动轨迹回放可将终端的GPS位置信息及状态实时回传到调度台能实现对终端的。</p>
						</a>
					</li>
					<li class="c-tibe-li2">
						<a href="#">
							<img src="../img/home-ditu_06.png"/>
							<p class="c-tibe-p1">可将终端的GPS位置信息及状态</p>
   							<p class="c-tibe-p2"> 实时回传到调度台能实现对终端的24小时行动轨迹回放可将终端的GPS位置信息及状态实时回传到调度台能实现对终端的。</p>
						</a>
					</li>
				</ul>
			</div>
		</div>
	
	<!--****经典案例****CHC****-->
		<div class="c-casebox">
			<div class="c-case">
				<p class="c-case-tilt">经典案例</p>
				<a href="#" class="c-case-posi">更多>></a>
				<div class="c-case-con clearfix">
					<div class="c-case-xing c-case-1">
						<div class="c-case-liu"><div><div></div></div></div>
						<span>京沪铁路是中国的</span>
						<p>条从北京通往上海的铁路于北京年建成，全长共计1463千米。原分为北中南三段北段为京哈铁路的...</p>
					</div>
					<div class="c-case-xing c-case-2">
						<div class="c-case-liu"><div><div></div></div></div>
						<span>京沪铁路是中国的</span>
						<p>条从北京通往上海的铁路于北京年建成，全长共计1463千米。原分为北中南三段北段为京哈铁路的...</p>
					</div>
					<div class="c-case-xing c-case-3">
						<div class="c-case-liu"><div><div></div></div></div>
						<span>京沪铁路是中国的</span>
						<p>条从北京通往上海的铁路于北京年建成，全长共计1463千米。原分为北中南三段北段为京哈铁路的...</p>
					</div>
					<div class="c-case-xing c-case-4">
						<div class="c-case-liu"><div><div></div></div></div>
						<span>京沪铁路是中国的</span>
						<p>条从北京通往上海的铁路于北京年建成，全长共计1463千米。原分为北中南三段北段为京哈铁路的...</p>
					</div>
				</div>
			</div>
		</div>
	
	<!--****新闻动态****CHC****-->
		<div class="c-newsbox">
			<div class="c-news">
				<p class="c-news-tilt">新闻动态</p>
				<a href="#" class="c-news-posi">更多>></a>
				<div class="c-news-con clearfix">
					<div class="c-news-xing">
						<div class="c-news-liu"><div><div></div></div></div>
						<span>京沪铁路是中国的</span>
						<p>条从北京通往上海的铁路于北京年建成，全长共计1463千米。原分为北中南三段北段为京哈铁路的...</p>
					</div>
					<div class="c-news-xing">
						<div class="c-news-liu"><div><div></div></div></div>
						<span>京沪铁路是中国的</span>
						<p>条从北京通往上海的铁路于北京年建成，全长共计1463千米。原分为北中南三段北段为京哈铁路的...</p>
					</div>
					<div class="c-news-xing">
						<div class="c-news-liu"><div><div></div></div></div>
						<span>京沪铁路是中国的</span>
						<p>条从北京通往上海的铁路于北京年建成，全长共计1463千米。原分为北中南三段北段为京哈铁路的...</p>
					</div>
					<div class="c-news-xing">
						<div class="c-news-liu"><div><div></div></div></div>
						<span>京沪铁路是中国的</span>
						<p>条从北京通往上海的铁路于北京年建成，全长共计1463千米。原分为北中南三段北段为京哈铁路的...</p>
					</div>
				</div>
			</div>
		</div>
	
	    <!--尾部开始-->
	    <div class="h-di1">
	        <div class="footer clearfix">
		        <ul class="h-ul1">
		            <li><a>关于我们</a></li>
		            <li><a href="news.html">关于捷思锐</a></li>
		            <li><a href="contactUs.html">联系我们</a></li>
		        </ul>
		        <ul class="h-ul2">
		            <li><a>服务支持</a></li>
		            <li><a href="threeLevel.html">常见问题</a></li>
		            <li><a href="termOfService.html">服务条款</a></li>
		        </ul>
		        <ul class="h-ul3">
		            <li><a>快速导航</a></li>
		            <li><a href="map.html">网站地图</a></li>
		            <li><a>申请体验</a></li>
		        </ul>
		        <ul class="h-ul4">
		            <li><a>关注我们</a></li>
		            <li><img src="../img/rwm.jpg"/></li>
		            <li><img src="../img/footer-1.jpg"/>捷思如集群通</li>
		        </ul>
		        <ul class="h-ul5">
		            <li class="origin s28">400-067-8026</li>
		            <li>周一至周五</li>
		            <li>9:00-18:00</li>
		        </ul>
		    </div>
	    </div>
	    <div class="h-di2">
	        <p>
	            &copy;捷思锐科技版权所有 京ICP备09032422号&nbsp;技术支持:北京亮田科技
	            <img src="../img/footer-2.jpg"/>
	        </p>
	    </div>
	    <!--尾部结束-->
	    <!--返回顶部-->
	    <div id="j-toTop">
	    	<img src="../img/top.png"/><br />
	    	返回顶部
	    </div>
	    <!--返回顶部-->
	</body>
	<script src="../js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/home.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
	$(function(){
        //当滚动条的位置处于距顶部100像素以下时，跳转链接出现，否则消失
        $(function () {
            $(window).scroll(function(){
                if ($(window).scrollTop()>200){
                    $("#j-toTop").fadeIn(1500);
                }
                else
                {
                    $("#j-toTop").fadeOut(1500);
                }
            });
            //当点击跳转链接后，回到页面顶部位置
            $("#j-toTop").click(function(){
                //$('body,html').animate({scrollTop:0},1000);
	        	if ($('html').scrollTop()) {
	                $('html').animate({ scrollTop: 0 }, 1000);
	                return false;
	            }
	            $('body').animate({ scrollTop: 0 }, 1000);
	                 return false;            
	           	});       
	    });    
	});
</script>
</html>
