<!DOCTYPE html>
<html>
	<head lang="en">
	    <meta charset="UTF-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>产品购买</title>
	    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css"/>
	    <link rel="stylesheet" type="text/css" href="../css/reset.css"/>
	    <link rel="stylesheet" type="text/css" href="../css/header.css"/>
	    <link rel="stylesheet" type="text/css" href="../css/shop.css"/>
	</head>
	<body>
	    <!-- 头部开始-->
	    <div class="header">
	    	<div class="clearfix">
	    		<p><a href="#" class="on">中文 </a><a href="#"> / English</a></p>
	    	</div>
	    	<div class="clearfix">
		        <img src="../img/logo.jpg" alt=""/>
		        <ul class="clearfix">
			        <li><a href="home.html">首页</a></li>
			        <li><a href="introduce.html">集群通介绍</a></li>
			        <li><a href="capacity.html">智能终端</a></li>
			        <li><a href="shop.html" class="origin">产品购买</a></li>
			        <li><a href="download.html">下载体验</a></li>
			        <li><a href="channel.html">渠道合作</a></li>
			        <li><a href="help.html">问题帮助</a></li>
			    </ul>
	    	</div>
	        <div class="header-hr"></div>
	    </div>
	    <!--头部结束-->
			<!--banner-->
			<div class="j-banner">
				<img src="../img/shop-banner.png" alt="" />
			</div>
			<!--end banner-->
			<!--软件服务-->
			<div class="j-ruanjian">
				<div class="j-ruanjian-h">
					集群通软件服务
				</div>
				<p>
					集群通是一款以APP为主的多媒体集群通信产品，可以方便的安装在任意智能终端手机上使用，也可以安装在行业特殊的定制终端中使用。使用集群通服务仅需支付少量的月功能服务费，集群通业务同时集成了运营商流量套餐包，您可以根据需要选择适合您的流量包及功能列表。<br />
目前已开通集群通业务的省份及当地销售联系方式：
				</p>
				<div class="j-shop-tab">
					<table class="table text-center">
						<tr><td>地址</td><td>联系人</td><td>联系电话</td></tr>
						<tr><td>湖南</td><td>曾经理</td><td>18672776626</td></tr>
						<tr><td>湖北</td><td>曾经理</td><td>18672776626</td></tr>
						<tr><td>河南</td><td>曾经理</td><td>18672776626</td></tr>
						<tr><td>安徽</td><td>曾经理</td><td>18672776626</td></tr>
						<tr><td>云南</td><td>曾经理</td><td>18672776626</td></tr>
						<tr><td>广西</td><td>曾经理</td><td>18672776626</td></tr>
						<tr><td>重庆</td><td>曾经理</td><td>18672776626</td></tr>
						<tr> <td></td> <td></td><td> </td></tr>
						<tr><td colspan="3">其他地区</td></tr>
						<tr><td>广西</td><td>曾经理</td><td>18672776626</td></tr>
						<tr><td>广西</td><td>曾经理</td><td>18672776626</td></tr>
						<tr><td>广西</td><td>曾经理</td><td>18672776626</td></tr>
					</table>
				</div>
				<p>
					注：各地由于运营商政策不同，功能服务费用价格略有不同，请您咨询当地销售经理详细信息。
				</p>
			</div>
			<!--end 软件服务-->
	    
	    <!--尾部开始-->
	    <div class="h-di1">
	        <div class="footer clearfix">
		        <ul class="h-ul1">
		            <li><a>关于我们</a></li>
		            <li><a href="news.html">关于捷思锐</a></li>
		            <li><a href="contactUs.html">联系我们</a></li>
		        </ul>
		        <ul class="h-ul2">
		            <li><a>服务支持</a></li>
		            <li><a href="threeLevel.html">常见问题</a></li>
		            <li><a href="termOfService.html">服务条款</a></li>
		        </ul>
		        <ul class="h-ul3">
		            <li><a>快速导航</a></li>
		            <li><a href="map.html">网站地图</a></li>
		            <li><a>申请体验</a></li>
		        </ul>
		        <ul class="h-ul4">
		            <li><a>关注我们</a></li>
		            <li><img src="../img/rwm.jpg"/></li>
		            <li><img src="../img/footer-1.jpg"/>捷思如集群通</li>
		        </ul>
		        <ul class="h-ul5">
		            <li class="origin s28">400-067-8026</li>
		            <li>周一至周五</li>
		            <li>9:00-18:00</li>
		        </ul>
		    </div>
	    </div>
	    <div class="h-di2">
	        <p>
	            &copy;捷思锐科技版权所有 京ICP备09032422号&nbsp;技术支持:北京亮田科技
	            <img src="../img/footer-2.jpg"/>
	        </p>
	    </div>
	    <!--尾部结束-->
	    
	    
	    <!--返回顶部-->
	    <div id="j-toTop">
	    	<img src="../img/top.png"/><br />
	    	返回顶部
	    </div>
	    <!--返回顶部-->
	    
	</body>
</html>
<script src="../js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
	$(function(){
        //当滚动条的位置处于距顶部100像素以下时，跳转链接出现，否则消失
        $(function () {
            $(window).scroll(function(){
                if ($(window).scrollTop()>200){
                    $("#j-toTop").fadeIn(1500);
                }
                else
                {
                    $("#j-toTop").fadeOut(1500);
                }
            });
            //当点击跳转链接后，回到页面顶部位置
            $("#j-toTop").click(function(){
                //$('body,html').animate({scrollTop:0},1000);
	        	if ($('html').scrollTop()) {
	                $('html').animate({ scrollTop: 0 }, 1000);
	                return false;
	            }
	            $('body').animate({ scrollTop: 0 }, 1000);
	                 return false;            
	           	});       
	    });    
	});
</script>


